COMMON: &common
  DEBUG: False

  # 遥测数据库
  INFLUXDB_HOST: grafana
  INFLUXDB_HOST_OUTPUT: grafana
  INFLUXDB_PORT:
  INFLUXDB_USER:
  INFLUXDB_PASSWD:
  INFLUXDB_DB_INPUT:
  INFLUXDB_DB_ACTION:
  INFLUXDB_DB_CHRONOGRAF: chronograf
  INFLUXDB_DB_ORBITDATA: orbit_data
  # 日志配置文件路径
  LOGGING_CONFIG_PATH: ./config/logging.yaml
  # 日志文件存放位置
  LOGGING_PATH: ./logs
  #  GraphQL
  METE_DATA: http://ttnonc-frontend-bff
  ORBIT_SERVICE: http://ttnonc-frontend-bff

  MONGO_HOST1: mongodb-cluster-0.mongodb-cluster-svc.cyk3.svc.cluster.local
  MONGO_HOST2: mongodb-cluster-1.mongodb-cluster-svc.cyk3.svc.cluster.local
  MONGO_HOST3: mongodb-cluster-2.mongodb-cluster-svc.cyk3.svc.cluster.local
  MONGO_PORT1: 27017
  MONGO_PORT2: 27017
  MONGO_PORT3: 27017
  MONGO_HOSTS:
    - mongodb-cluster-0.mongodb-cluster-svc.cyk3.svc.cluster.local:27017
    - mongodb-cluster-1.mongodb-cluster-svc.cyk3.svc.cluster.local:27017
    - mongodb-cluster-2.mongodb-cluster-svc.cyk3.svc.cluster.local:27017
  MONGO_AUTH_SOURCE: ''
  MONGO_INITDB_ROOT_USERNAME: 'flight-control'
  MONGO_INITDB_ROOT_PASSWORD: 'flight-control'

  #ORBIT_PROPAGATION
  ORBIT_PROPAGATION: http://ttnonc-frontend-bff

  #ORBIT MANEUVER
  ORBIT_MANEUVER: http://ttnonc-frontend-bff/v2/api/openapi-transform/orbit-fire-period

  #POST SATELLITE REPORT SEARCH
  POST_SATELLITE_REPORT_SEARCH: http://spacecraft-info-report.prod.yhroot.com/satellite-report-info/search

  #GET SATELLITE FILE DOWNLOAD
  GET_SATELLITE_FILE_DOWNLOAD: http://satellite-file-service.prod.yhroot.com/satellite-file/download?

  #OSS config
  OSS2_ENDPOINT:
  OSS2_ACCESS:
  OSS2_SECRET:

 #Gateway task
  APPLICATION_TASK: http://ttnonc-frontend-bff/v2/api/openapi-transform/get-all-application-task

  #HTTP POST TOKEN URL
  POST_TOKEN_URL: http://ttnonc-frontend-bff/v2/api/openapi/get-token
  POST_TOKEN_USERNAME: 'report@yinhe.ht'
  POST_TOKEN_PASSWORD: '123456'

  #通知接口
  NOTIFICATION_URL: http://ttnonc-notice-service/notice/handler/push-data

  #Weather Forecast Service
  WEATHER_FORECAST_URL: https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline
  WEATHER__FORECAST_KEY:

  #get gateway station code
  GATEWAY_STATION_CODE_URL: http://ttnonc-webui.cyk3.yhroot.com/v2/api/antennas/search

  #get gateway antenna location by id
  GATEWAY_STATION_LOCATION_URL: http://ttnonc-webui.cyk3.yhroot.com/v2/api/antennas/detail

DEV: &development ##########开发环境##########
  <<: *common # 继承common，没有重新定义的变量，使用common变量值
  DEBUG: True
# 遥测数据库
  INFLUXDB_HOST: 127.0.0.1
  INFLUXDB_HOST_OUTPUT:  127.0.0.1
  INFLUXDB_PORT:
  INFLUXDB_USER: ''
  INFLUXDB_PASSWD: ''
  INFLUXDB_DB_INPUT: measure
  INFLUXDB_DB_ORBITDATA: orbit_data
  # 日志配置文件路径
  LOGGING_CONFIG_PATH: ./config/logging.yaml
  # 日志文件存放位置
  LOGGING_PATH: ./logs
  #  GraphQL
  METE_DATA: http://172.16.13.165:2194
#  ORBIT_SERVICE: http://172.16.13.165:2194

  # GNSS_CONFIG
  GNSS_CONFIG: http://ttnonc-webui.cyk3.yhroot.com/v2/api/spacecrafts/detail

  # GET_EPHEMERIS
  GET_EPHEMERIS: http://ttnonc-webui.cyk3.yhroot.com/v2/api/orbit/keplers/search

  # SEPC SPACE ENVIROMENT FORECAST
  # GET_F10.7
  GET_F10POINT7: http://www.sepc.ac.cn/getF107Forecast_js.php
  # GET_ApIndex
  GET_APINDEX: http://www.sepc.ac.cn/getApForecast_js.php
  # GET_KpIndex
  GET_KPINDEX: http://www.sepc.ac.cn/getKp_js.php

  #MongoDB
  MONGO_HOST1: 172.16.13.167
  MONGO_HOST2: 172.16.13.167
  MONGO_HOST3: 172.16.13.167
  MONGO_HOSTS:
    - 172.16.13.167:27017

  MONGO_PORT1: 27017
  MONGO_PORT2: 27017
  MONGO_PORT3: 27017
  MONGO_AUTH_SOURCE:
  MONGO_INITDB_ROOT_USERNAME:
  MONGO_INITDB_ROOT_PASSWORD:

  #ORBIT_PROPAGATION
#  ORBIT_PROPAGATION: http://orbit-service-inf.prod.yhroot.com/api/orbit/orbit/util/orbit-forecast
#  ORBIT_PROPAGATION: http://172.16.8.185:6002/api/orbit/orbit/util/orbit-forecast
  ORBIT_PROPAGATION: http://ttnonc-webui.cyk3.yhroot.com/v2/api/openapi-transform/orbit-forecast

  #ORBIT MANEUVER
  ORBIT_MANEUVER: http://172.16.13.165:2194/v2/api/openapi-transform/orbit-fire-period
#  ORBIT_MANEUVER: http://172.16.4.171:2194/v2/api/openapi-transform/orbit-fire-period

  #POST SATELLITE REPORT SEARCH
  POST_SATELLITE_REPORT_SEARCH: http://spacecraft-info-report.prod.yhroot.com/satellite-report-info/search

  #GET SATELLITE FILE DOWNLOAD
  GET_SATELLITE_FILE_DOWNLOAD: http://satellite-file-service.prod.yhroot.com/satellite-file/download

  #OSS config
  OSS2_ENDPOINT: 'http://oss-cn-beijing.aliyuncs.com'
  OSS2_ACCESS:
  OSS2_SECRET:

  #HTTP POST TOKEN URL
#  POST_TOKEN_URL: http://ttnonc-webui.cyk3.yhroot.com/v2/api/openapi/get-token
  POST_TOKEN_URL: http://172.16.13.165:2194/v2/api/openapi/get-token
  POST_TOKEN_USERNAME: 'report@yinhe.ht'
  POST_TOKEN_PASSWORD: '123456'

  #瞬转平
  MEAN_6ELEMENT: http://172.16.13.165:2904/api/orbit-tool/orbit-mean
  GET_CALC_RESULT: http://172.16.13.165:2904/api/orbit-tool/get-result

  #通知接口
  NOTIFICATION_URL: http://172.16.13.165:2196/notice/handler/push-data
#  NOTIFICATION_URL: http://ttnonc-notice-service/notice/handler/push-data

  #Weather Forecast Service
  WEATHER_FORECAST_URL: https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline
  WEATHER__FORECAST_KEY:
#  WEATHER__FORECAST_KEY:

  #get gateway station code
  GATEWAY_STATION_CODE_URL: http://ttnonc-webui.cyk3.yhroot.com/v2/api/antennas/search

  #get gateway antenna location by id
  GATEWAY_STATION_LOCATION_URL: http://ttnonc-webui.cyk3.yhroot.com/v2/api/antennas/detail

  #Gateway task
  APPLICATION_TASK: http://ttnonc-webui.cyk3.yhroot.com/v2/api/openapi-transform/get-all-application-task

PROD: &production #########生产环境##########
  <<: *common
  # 遥测数据库
  INFLUXDB_HOST: grafana-dashboards-up-s1
  INFLUXDB_HOST_OUTPUT: grafana-dashboards-up-s1
  INFLUXDB_PORT: 8086
  INFLUXDB_HOST_V: 127.0.0.1
  INFLUXDB_PORT_V: 28086
  INFLUXDB_USER: admin
  INFLUXDB_PASSWD: GdQPhYQLG8ki2Hp
  INFLUXDB_DB_INPUT: measure
  INFLUXDB_DB_ACTION: action
  INFLUXDB_DB_CHRONOGRAF: chronograf
  INFLUXDB_DB_ORBITDATA: orbit_data
  # 日志配置文件路径
  LOGGING_CONFIG_PATH: ./config/logging.yaml
  # 日志文件存放位置
  LOGGING_PATH: ./logs
  #  GraphQL
  METE_DATA: http://ttnonc-frontend-bff
  ORBIT_SERVICE: http://ttnonc-frontend-bff

  #MongoDB
  MONGO_HOST1: mongodb-cluster-0.mongodb-cluster-svc.cyk3.svc.cluster.local
  MONGO_HOST2: mongodb-cluster-1.mongodb-cluster-svc.cyk3.svc.cluster.local
  MONGO_HOST3: mongodb-cluster-2.mongodb-cluster-svc.cyk3.svc.cluster.local
  MONGO_PORT1: 27017
  MONGO_PORT2: 27017
  MONGO_PORT3: 27017
  MONGO_HOSTS:
    - mongodb-cluster-0.mongodb-
    - mongodb-cluster-1.mongodb-
    - mongodb-cluster-2.mongodb-
  MONGO_AUTH_SOURCE: 'admin'
  MONGO_INITDB_ROOT_USERNAME: '-'
  MONGO_INITDB_ROOT_PASSWORD: '-'

  #ORBIT_PROPAGATION
  ORBIT_PROPAGATION: http://ttnonc-webui.cyk3.yhroot.com/v2/api/openapi-transform/orbit-forecast

  #ORBIT MANEUVER
  ORBIT_MANEUVER: http://ttnonc-frontend-bff/v2/api/openapi-transform/orbit-fire-period

  #POST SATELLITE REPORT SEARCH
  POST_SATELLITE_REPORT_SEARCH: http://spacecraft-info-report.prod.yhroot.com/satellite-report-info/search

  #GET SATELLITE FILE DOWNLOAD
  GET_SATELLITE_FILE_DOWNLOAD: http://satellite-file-service.prod.yhroot.com/satellite-file/download?

  #OSS config
  OSS2_ENDPOINT:
  OSS2_ACCESS:
  OSS2_SECRET:

  #Gateway task
  APPLICATION_TASK: http://ttnonc-frontend-bff/v2/api/openapi-transform/get-all-application-task

  #HTTP POST TOKEN URL
  POST_TOKEN_URL: http://ttnonc-frontend-bff/v2/api/openapi/get-token
  POST_TOKEN_USERNAME: 'report@yinhe.ht'
  POST_TOKEN_PASSWORD: ''

  # GNSS_CONFIG
  GNSS_CONFIG: http://ttnonc-webui.cyk3.yhroot.com/v2/api/spacecrafts/detail

  # GET_EPHEMERIS
  GET_EPHEMERIS: http://ttnonc-webui.cyk3.yhroot.com/v2/api/orbit/keplers/search

  # GET_F10.7
  GET_F10POINT7: http://www.sepc.ac.cn/getF107Forecast_js.php

  #通知接口
  NOTIFICATION_URL: http://ttnonc-notice-service/notice/handler/push-data

  #Weather Forecast Service
  WEATHER_FORECAST_URL: https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline
  WEATHER__FORECAST_KEY:

  #get gateway station code
  GATEWAY_STATION_CODE_URL: http://ttnonc-webui.cyk3.yhroot.com/v2/api/antennas/search

  #get gateway antenna location by id
  GATEWAY_STATION_LOCATION_URL: http://ttnonc-webui.cyk3.yhroot.com/v2/api/antennas/detail


TEST: &test ##########TEST环境##########
  <<: *common # 继承common，没有重新定义的变量，使用common变量值
  DEBUG: True
 #Telephone配置
  TELEPHONE_HOST: http://orbit-service.test/api/orbit/alert/emergency
# 遥测数据库
  INFLUXDB_HOST: service-influxdb.test
  INFLUXDB_HOST_OUTPUT: service-influxdb.test
  INFLUXDB_PORT: 8086
  INFLUXDB_HOST_V: 127.0.0.1
  INFLUXDB_PORT_V: 28086
  INFLUXDB_USER: ''
  INFLUXDB_PASSWD: ''
  INFLUXDB_DB_INPUT: measure
  INFLUXDB_DB_ACTION: action
  INFLUXDB_DB_CHRONOGRAF: chronograf
  INFLUXDB_DB_ORBITDATA: orbit_data
  # 日志配置文件路径
  LOGGING_CONFIG_PATH: ./config/logging.yaml
  # 日志文件存放位置
  LOGGING_PATH: ./logs
  #  GraphQL
  METE_DATA: http://ttnonc-frontend-bff
  ORBIT_SERVICE: http://ttnonc-frontend-bff

  #MongoDB
  MONGO_HOST1: 172.16.8.156
  MONGO_HOST2: 172.16.8.156
  MONGO_HOST3: 172.16.8.156
  MONGO_PORT1: 31181
  MONGO_PORT2: 31182
  MONGO_PORT3: 31183
  MONGO_HOSTS:
    - 172.16.8.156:31181
    - 172.16.8.156:31182
    - 172.16.8.156:31183
  MONGO_AUTH_SOURCE: 'admin'
  MONGO_INITDB_ROOT_USERNAME: '-'
  MONGO_INITDB_ROOT_PASSWORD: '-'

  #ORBIT_PROPAGATION
  ORBIT_PROPAGATION: http://ttnonc-frontend-bff

  #ORBIT MANEUVER
  ORBIT_MANEUVER: http://ttnonc-frontend-bff/v2/api/openapi-transform/orbit-fire-period

  #POST SATELLITE REPORT SEARCH
  POST_SATELLITE_REPORT_SEARCH: http://spacecraft-info-report.prod.yhroot.com/satellite-report-info/search

  #GET SATELLITE FILE DOWNLOAD
  GET_SATELLITE_FILE_DOWNLOAD: http://satellite-file-service.prod.yhroot.com/satellite-file/download?

  #OSS config
  OSS2_ENDPOINT:
  OSS2_ACCESS:
  OSS2_SECRET:

  #Gateway task
  APPLICATION_TASK: http://ttnonc-frontend-bff/v2/api/openapi-transform/get-all-application-task

  #HTTP POST TOKEN URL
  POST_TOKEN_URL: http://ttnonc-frontend-bff/v2/api/openapi/get-token
  POST_TOKEN_USERNAME: 'report@yinhe.ht'
  POST_TOKEN_PASSWORD: ''

  #通知接口
  NOTIFICATION_URL: http://ttnonc-notice-service/notice/handler/push-data

  #Weather Forecast Service
  WEATHER_FORECAST_URL: https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline
  WEATHER__FORECAST_KEY:

  #get gateway station code
  GATEWAY_STATION_CODE_URL: http://ttnonc-webui.cyk3.yhroot.com/v2/api/antennas/search

  #get gateway antenna location by id
  GATEWAY_STATION_LOCATION_URL: http://ttnonc-webui.cyk3.yhroot.com/v2/api/antennas/detail
